<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.security.repository.TestMapper">

    <resultMap id="personMap" type="com.example.security.domain.Person">
        <id column="personId" property="personId"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
    </resultMap>

<select id="findPerson" resultMap="personMap">
  select personId,`name`,age,sex,birthday from person
</select>

</mapper>